.login-page {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.login-card {
    background: var(--card-bg);
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.login-input {
    background: rgba(128, 128, 128, 0.05) !important;
    border: 1px solid rgba(128, 128, 128, 0.2) !important;
    color: var(--text-main) !important;
    padding: 12px !important;
    border-radius: 10px !important;
}

.login-btn {
    background: #ff0000;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-weight: 800;
    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.4);
}